footer {
  grid-area: footer;
  background-color: rgb(215, 215, 215);
  display: grid;
  grid-template:
    'logo       links     ...' 3fr
    'copyright  copyright copyright' 1fr
    /250px 1fr 250px;
  padding: 0px 10px;
  .footerTitle {
    grid-area: logo;
    font-size: 25px;
    display: grid;
    place-items: center;
  }
  ul {
    grid-area: links;
    list-style: none;
    font-size: 18px;
    padding: 30px 0px;
    margin: 0px;
    display: grid;
    place-items: center;
    li a {
      color: rgb(65, 109, 242);
      text-decoration: none;
      &:hover {
        color: rgb(94, 131, 242);
        border-bottom: 1px solid rgb(94, 131, 242);
      }
    }
  }
  small {
    grid-area: copyright;
    font-size: 16px;
    color: rgb(111, 111, 111);
    display: grid;
    place-items: center;
    border-top: 0.5px solid rgb(109, 109, 109);
  }
}
