body {
  font-size: 2rem;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template:
    'header header header' 100px
    'left   center right ' 1fr
    'footer footer footer' 200px
    / 250px minmax(300px, 1fr) 200px;
}
/* ここからHeader */
header {
  grid-area: header;
  display: grid;
  place-items: center;
}
.siteTitle {
  font-size: 40px;
}
/* ここからNav */
nav {
  grid-area: left;
  background-color: rgb(235, 235, 235);
  display: grid;
  grid-template:
    '... ...   ...' 10px
    '... title ...' 20px
    '... ...   ...' 5px
    '... lists ...' 1fr
    '... ...   ...' 10px
    / 20px 1fr 20px;
}
nav h1 {
  grid-area: title;
  font-size: 20px;
  margin: 0px;
  padding: 10px 0px;
}
nav ul {
  grid-area: lists;
  padding: 0px;
}
nav li {
  padding: 10px;
  font-size: 18px;
  list-style: none;
  border-radius: 5px;
}
nav li:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}
/* ここからCenter */
main {
  grid-area: center;
  background-color: rgb(245, 245, 245);
}
/* ここからAside */
aside {
  grid-area: right;
  background-color: rgb(225, 225, 225);
}
/* ここからHeader */
footer {
  grid-area: footer;
  background-color: rgb(215, 215, 215);
  display: grid;
  grid-template:
    'logo       links     ...' 3fr
    'copyright  copyright copyright' 1fr
    /250px 1fr 250px;
  padding: 0px 10px;
}
.footerTitle {
  grid-area: logo;
  font-size: 25px;
  display: grid;
  place-items: center;
}
footer ul {
  grid-area: links;
  list-style: none;
  font-size: 18px;
  padding: 30px 0px;
  margin: 0px;
  display: grid;
  place-items: center;
}
footer ul li a {
  color: rgb(65, 109, 242);
  text-decoration: none;
}
footer ul li a:hover {
  color: rgb(94, 131, 242);
  border-bottom: 1px solid rgb(94, 131, 242);
}
footer small {
  grid-area: copyright;
  font-size: 16px;
  color: rgb(111, 111, 111);
  display: grid;
  place-items: center;
  border-top: 0.5px solid rgb(109, 109, 109);
}
/* ここからレスポンシブ対応 */
@media screen and (max-width: 1000px) {
  body {
    grid-template:
      'header' 100px
      'left  '
      'center' 1fr
      'right '
      'footer' 200px;
  }
}
